/* Code for header */
header .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__image--logo {
    width: 180px;
}

.cabecalho__busca {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background: var(--input-select);
    font-size: 16px;
    color: var(--branco);
    padding-left: 15px;
    border-style: none;
    box-sizing: border-box;
    margin-right: 7rem;
}

.cabecalho__image--fotoPerfil {
    width: 150px;
}