/* Code for body, menu section */
.menu {
    display: none;
    /* margin-left: 1rem; */
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__list--item {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.menu__list--icon {
    width: 48px;
    height: 48px;
    background: var(--azul-escuro);
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    border-style: none;
    color: var(--branco);
    margin-right: 1rem;
}

.menu__list--icon img {
    margin-top: 30%;
}

.menu__list--link {
    font-size: 16px;
    text-decoration: none;
    color: var(--branco);
    vertical-align: middle;
}
