/* Code for body, type code */
.projeto__code{
    align-content: center;
    margin-bottom: 3rem;
}

.projeto__code--boxOut {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
    height: 492px;
    background: var(--aqua);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}

.projeto__code--boxIn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    height: 428px;
    background: var(--type-code);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}

.projeto__code--boxIn img {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
}

#type-code {
    width: 100%;
    height: 360px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: var(--roboto-mono);
    flex: none;
    order: 1;
    margin-top: 1.75rem;
    padding-bottom: 1rem;
    background: var(--type-code);
    border-style: none;
    box-sizing: border-box;
}

#botao-highlight {
    width: 100%;
    background-color: var(--azul-escuro-opaco);
    color: var(--branco);
}