/* Code for body, type code */
.projeto__code--boxOut {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    width: 752px;
    height: 366px;
    background: var(--aqua);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}

.projeto__code--boxIn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: 688px;
    height: 302px;
    background: var(--type-code);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}

.projeto__code--boxIn img {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
}

#type-code {
    width: 656px;
    height: 234px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: var(--roboto-mono);
    flex: none;
    order: 1;
    margin-top: 24px;
    background: var(--type-code);
    border-style: none;
}

#botao-highlight {
    width: 752px;
    height: 56px;
    background-color: var(--azul-escuro-opaco);
    border-radius: 8px;
    color: var(--branco);
    font-size: 16px;
    border-style: none;
}