body {
    background: #051D3B;
    border-radius: 40px;
    margin: 15px;
    font-family: 'Inter', sans-serif;
}

textarea{
    resize: none; 
}

/* Code for header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__image--logo {
    width: 180px;
}

.container input {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 15px;
    border-style: none;
    box-sizing: border-box;
    margin-right: 7em;
}

.container__image--fotoPerfil {
    width: 150px;
}

/* Code for main */
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

h3 {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4em;
}

/* Code for body, menu section */
.menu {
    margin-left: 1em;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__list--item {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.menu__list--button {
    width: 48px;
    height: 48px;
    background: #5081FB;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    border-style: none;
    color: #FFFFFF;
    margin-right: 1em;
}

.menu__list--button img {
    margin-top: 30%;
}

.menu__list--item a {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: middle;
}

/* Code for body, type code */

#botao-highlight {
    width: 752px;
    height: 56px;
    background-color: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    border-style: none;
}

.projeto__code--boxOut {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    width: 752px;
    height: 366px;
    background: #6BD1FF;
    border-radius: 8px;
    border-style: none;    
    box-sizing: border-box;
}

.projeto__code--boxIn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: 688px;
    height: 302px;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}

.projeto__code--boxIn{
    display: flex;
    align-items: flex-start;
}

.projeto__code--boxIn img {
    width: 12px;
    height: 12px;
    margin-right: 0.3em;
}

#projeto-code {
    width: 656px;
    height: 234px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    flex: none;
    order: 1;
    margin-top: 24px;    
    background: #141414;
    border-style: none;
}



/* Code for body, new project */
.formSalvarProjeto {
    margin-right: 1em;
}

.formSalvarProjeto__info,
.formSalvarProjeto__personalizacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nome-projeto,
#descricao-projeto,
.formSalvarProjeto__personalizacao--linguagem {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: #FFFFFF;
    align-self: stretch;
    width: 272px;
    height: 56px;
    margin-bottom: 1em;
    font-size: 16px;
    border-style: none;
    box-sizing: border-box;
    padding-left: 1em;
}

#descricao-projeto {
    height: 80px;
    padding-top: 1.5em;
    font-family: 'Inter', sans-serif;
}

.formSalvarProjeto__personalizacao--linguagem {
    width: 272px;
    color: rgba(255, 255, 255, 0.25);
}

.formSalvarProjeto__personalizacao--cor {
    display: flex;
    justify-content: center;
    background-color: #051D3B;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 272px;
    height: 56px;
    font-size: 16px;
}

.formSalvarProjeto__personalizacao--cor div {
    background-color: #6BD1FF;
    border-radius: 4px;
    width: 256px;
    height: 40px;
    align-self: center;
}

#botao-salvar-projeto {
    width: 272px;
    height: 56px;
    background: #5081FB;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    color: rgba(5, 29, 59, 1);
    border-style: none;
}