body {
    background: #051D3B;
    border-radius: 40px;
    margin: 15px;
    font-family: 'Inter', sans-serif;
}

textarea {
    resize: none;
}


/* Code for main */
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

h3 {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4rem;
}