/* Code for header */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 1.75rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

.cabecalho__icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 56px;
}

.cabecalho__image--search {
    box-sizing: border-box;
    width: 1.25rem;
    margin-right: 2.5rem;
}

.cabecalho__image--menu {
    width: 1.25rem;
    align-self: center;
}

.cabecalho__busca {
    display: none;
}

.cabecalho__image--fotoPerfil{
    display: none;
}

@media screen and (min-width: 600px) {
    .cabecalho__busca {
        display: block;
        width: 100%;
        height: 56px;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        background: var(--input-select);
        font-size: 16px;
        color: var(--branco);
        padding-left: 1rem;
        margin-right: 2.5rem;
        margin-left: 1rem;
    }

    .cabecalho__image--search {
        display: none;
    }
}


@media screen and (min-width: 1440px){
    .cabecalho__busca{
        width: 752px;
        margin-left: 3rem;
    }

    .cabecalho__image--menu{
        display: none;
    }

    .cabecalho__image--fotoPerfil{
        display: flex;
        height: 56px;
    }
}