/* Code for body, menu section */
.menu {
    display: none;
}

@media screen and (min-width: 1440px) {
    .menu {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .menu__titulo {
        margin-bottom: 1rem;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__list--item {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .menu__button{
        display: flex;
        box-sizing: border-box;
        background-color: var(--azul-escuro);
        padding: 1rem;
        border-radius: 16px;
        height: 48px;
    }

    .menu__button:hover{
        background-color: var(--azul);
    }

    .menu__button:active{
        border: 4px solid rgba(80, 129, 251, 0.24);
        padding: auto;
    }

    .menu__list--link {
        font-size: 16px;
        text-decoration: none;
        color: var(--branco);
        vertical-align: middle;
        margin-left: 1rem;
    }

}