/* Code for body, new project */
.projeto__new {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.projeto__new--info,
.projeto__new--personalizacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

#nome-projeto,
#descricao-projeto {
    background: var(--input-select);
    border-radius: 8px;
    color: #FFFFFF;
    align-self: stretch;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    font-size: 16px;
    border-style: none;
    box-sizing: border-box;
    padding-left: 1rem;
    opacity: 64%;
}

#descricao-projeto {
    height: 80px;
    padding-top: 1.5rem;
    font-family: 'Inter', sans-serif;
}


.projeto__new--itens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
}

.projeto__new--personalizacao-linguagem {
    box-sizing: border-box;
    background: var(--input-select);
    border-radius: 8px;
    color: #FFFFFF;
    width: 100%;
    height: 56px;
    font-size: 16px;
    border-style: none;
    padding-left: 1rem;
    opacity: 64%;
}

.linguagem-item {
    background: var(--input-select);
    color: #000000;
}

.projeto__new--personalizacao-cor {
    background-color: var(--azul-marinho);
    border: 1px solid var(--branco);
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.projeto__new--personalizacao-cor::-webkit-color-swatch-wrapper,
.projeto__new--personalizacao-cor::-moz-color-swatch-wrapper {
    padding: 0px;
    margin: 0px;
}

.projeto__new--personalizacao-cor::-webkit-color-swatch,
.projeto__new--personalizacao-cor::-moz-color-swatch {
    border: none;
    border-radius: 8px;    
}

#botao-salvar-projeto {
    width: 100%;
    background: var(--azul-escuro);
    color: rgba(5, 29, 59, 1);
    height: 56px;
}

@media screen and (min-width: 600px) {
    .projeto__new--itens {
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }

    .projeto__new--personalizacao-linguagem {
        margin-right: 0.5rem;
    }

    .projeto__new--personalizacao-cor {
        margin-left: 0.5rem;
        margin-top: 0;
    }
}

@media screen and (min-width: 1440px) {
    .projeto__new {
        margin-top: 0;
    }

    .projeto__new--itens {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        margin-top: 1rem;
    }

    #nome-projeto,
    #descricao-projeto,
    .projeto__new--itens,
    .projeto__new--personalizacao-cor,
    #botao-salvar-projeto {
        width: 272px;
    }

    .projeto__new--personalizacao-cor {
        margin-top: 1rem;
        margin-left: 0;
    }
}